body{

margin:0;
font-family:sans-serif;
background:linear-gradient(180deg,#7ed6ff,#dff9fb);
text-align:center;

}

.container{

padding:20px;

}

.card{

background:white;
padding:20px;
margin:20px auto;
border-radius:25px;
max-width:400px;

box-shadow:0 8px 20px rgba(0,0,0,0.1);

}

h1{

color:#ff793f;

}

.simurgh{

width:180px;
margin:auto;
display:block;

}

input{

width:80%;
padding:12px;
margin:10px;
border-radius:15px;
border:1px solid #ccc;
font-size:16px;

}

button{

padding:12px 25px;
border:none;
border-radius:15px;
background:#ff793f;
color:white;
font-size:18px;
cursor:pointer;

}

button:hover{

background:#ff5252;

}

.hidden{

display:none;

}

.doors{

display:flex;
justify-content:center;
gap:20px;

}

.door{

font-size:60px;
cursor:pointer;
transition:0.3s;

}

.door:hover{

transform:scale(1.2);

}